.song {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    border-radius: .8rem .4rem;
    background-color: #ECECED;
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

.titleAndArtist {
    align-self: flex-start;
    width: 40%;
}

.title {
    font-size: .875rem;
    text-wrap: balance;
}

.artist {
    font-size: 0.625rem;
    font-weight: 600;
}

.album {
    font-size: 0.75rem;
    align-self: flex-start;
    width: 40%
}

.buttons,
.buttonsWithPopup {
    width: 2rem;
    height: 2rem;
    border-radius: .35rem .35rem .7rem;
    overflow: visible;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 1.5rem;
}

.buttonsWithPopup::after {
    content: "Already added!";
    position: fixed;
    margin: 0 auto;
    top: 30%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    overflow: visible;
    background-color: #aaaaaa;
    padding: .25rem;
    border-radius: .375rem;
    opacity: 100%;
    z-index: 5;
}

.track {
    text-align: left;
    text-decoration: underline;
    color: #ffffff80;
}

.albumArt {
    width: 2.5rem;
}
@media only screen and (max-width: 670px) {
    .song {
        width: 93%;
        height: fit-content;
        gap: .5rem;
    }

    .buttons,
    .buttonsWithPopup {
        width: 2.108rem;
        height: initial;
    }
    .buttonsWithPopup::after {
        right: 50%;
    }

    .artist {
        margin-top: .25rem;
        font-size: .7rem;
    }
}