.tracklist {
    display: flex;
    flex-flow: column nowrap;
}

.track {
    list-style-type: none;
}

#list {
    display: flex;
    flex-flow: column nowrap;
    gap: .25rem;
    justify-content: space-between;
}