#loginButton {
    position: relative;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: 2rem;
    border: .125rem #1db954 outset;
    color: #1db954;
    background-color: #191414;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    
    &:hover {
        cursor: pointer;
        color: #28d163;
        -webkit-text-stroke: #28d16350 1px;
    }
}

#loggedInBanner {
    display: flex;
    justify-content: space-between;
    background-color: #1db954;
    color: #191414;

    font-size: 80%;
}

#loggedInText {
    padding: 0 .5rem;
}

#pic {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.125rem #1db954 inset;
    background-color: #191414;
}

@media only screen and (max-width: 670px) {
    #login {
        padding: .2857rem;
    }

    #pic {
        border: revert;
    }
}