.playlist {
    border-radius: .5rem;
    width: 30%;
    height: 100%;

    background-color: rgb(95, 88, 88);
}

.label {
    text-align: left;
    position: relative;
    right: 2.4375rem;
}

.buttons {
    padding: .25rem;
    width: fit-content;
    height: 2rem;
    border-radius: .35rem .35rem .7rem;
    overflow: visible;

}

#playlistTitle {
    display: inline-block;
    padding: .25rem .5rem;
    border: 2px solid #9e9e9ecc;
    border-radius: 1rem 0.5rem 1rem 0.25rem;
    
    font-style: italic;
    font-weight: 600;

    text-decoration: underline #8080ca;
    background-color: #8080ea9f;

    &:hover {
        cursor: pointer;
    }
}

#playlistName {
    display: block;
    margin: 1rem auto;
    padding: .125rem;
    background-color: transparent;
    border-bottom: inset #191414;
    border-width: .125rem;
    border-radius: .5rem .25rem .5rem .125rem;
    

    font-size: 1.5rem;
    font-weight: 600;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;

    &:focus-visible {
        outline: none;
    }
}