.playlist {
    border-radius: .5rem;
    width: 45%;
    height: 100%;

    background-color: #8195A1;
}

.label {
    text-align: left;
    position: relative;
    right: 2.4375rem;
}

#buttonsContainer {
    width: 75%;
    margin: 0 auto;
    padding: .5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    border-radius: .35rem;
    overflow: visible;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: .875rem;
    padding: .125rem;
}

#playlistName {
    padding: .75rem .25rem;
    border: none;
    border-bottom: .125rem solid #050B11;
    border-radius: .5rem .5rem 0 0;

    width: 75%;
    background-color: transparent;

    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

    

    &:focus-visible {
        outline: none;
    }

    &:hover {
        background-color: #ffffff88;
    }

    &::placeholder {
        color: #050B11bb;
    }
}

@media only screen and (max-width: 670px) {
    .playlist {
        width: 85%;
        margin-top: 1rem;
    }
}