.playlist {
    border-radius: .5rem;
    width: 45%;
    height: 100%;

    background-color: rgb(95, 88, 88);
}

.label {
    text-align: left;
    position: relative;
    right: 2.4375rem;
}

.buttons {
    height: 2rem;
    border-radius: .35rem .35rem .7rem;
    overflow: visible;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 1.125rem;
    margin: 0 .5rem;
    padding: 0 .25rem;
}

.formFlex {
    display: flex;
    align-items: center;
}

#playlistName {
    margin: .75rem auto;
    padding: .125rem .125rem .125rem .5rem;
    border: none;
    border-bottom: .125rem solid #191414;
    border-radius: 1rem .5rem 0 0;

    width: 75%;
    background-color: transparent;

    font-size: 1.25rem;
    font-weight: 600;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

    &:focus-visible {
        outline: none;
    }

    &:hover {
        background-color: #19141440;
    }
}

@media only screen and (max-width: 430px) {
    .playlist {
        width: 90%;
        margin-top: 1rem;
    }

    .buttons {
        font-size: 1.285714rem;
        margin: 0.5rem 0.25rem;
    }
}