.App {
  text-align: center;
  padding-bottom: 2dvh;

  & header {
    padding-bottom: 1rem;
  }
}

.mmm {
  font-style: italic;
  letter-spacing: -1px;
}

#mainSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 1.25rem;
}

@media only screen and (max-width: 430px) {
  html {
    font-size: 14px;
  }

  header {
    padding-bottom: .5rem;
  }

  .header-title {
    font-size: 1.25rem;
  }

  #mainSection {
    margin-top: .5rem;
    flex-flow: column nowrap;
    align-items: center;
  }
}