.App {
  text-align: center;
  background-color: #858585;
  width: 98dvw;
  height: 97dvh;

  & header {
    padding-bottom: 1rem;
  }
}

.mmm {
  font-style: italic;
  letter-spacing: -1px;
}

#mainSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}