.App {
  text-align: center;
  padding-bottom: 2dvh;
  & header {
    padding-bottom: 1rem;
  }
}

.mmm {
  font-style: italic;
  letter-spacing: -1px;
}

#mainSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 1.25rem;
}